* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 1.5vh 1vw;
}

nav img:first-child {
  width: 5vw;
  height: 5vw;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

/*class*/