/*color palette*/
/*
--pumpkin: hsla(22, 96%, 57%, 1);
--orange-web: hsla(37, 95%, 56%, 1);
--jet: hsla(327, 7%, 25%, 1);
--midnight-green: hsla(183, 91%, 18%, 1);
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(183, 91%, 18%, 1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 1.5vh 1vw;
}

nav img:first-child {
  width: 5vw;
  height: 5vw;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

section {
  height: 100%;
  width: 33%;
  border: 1px solid white;
  background: transparent;
}

button {
  height: 10%;
  width: 30%;
}

/*class*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;

}

.sidebar {
  width: 20vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: gray;
}

.display {
  width: 80vw;
  height: 80vh;
  display: flex;

  background-color: darkgray;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}